openapi: 3.2.0
info:
  title: Interac O Auth2 API
  contact:
    name: SecureKey Technologies, Office of the CTO.
  license:
    name: Copyright SecureKey Technologies Inc. This file contains software code and related documentation that is the intellectual property of SecureKey. SecureKey reserves all rights in the code and related documentation. You may not use it without written permission from SecureKey.
  version: '1.0'
  description: 'Operations tagged OAuth2 across 3 of this provider''s published API definitions: interac-securekey-hub-2.yml, interac-securekey-hub-3.yml, interac-securekey-hub.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gateway-portal.hub-verify.innovation.interac.ca/.well-known/openid-configuration
  description: Sandbox
- url: https://gateway-preprod.pp.vids.dev
  description: Preprod
tags:
- name: OAuth2
  description: OAuth2 endpoints.
paths:
  /auth:
    get:
      tags:
      - OAuth2
      description: 'To learn more about this endpoint, please refer to the specification: https://tools.ietf.org/html/rfc6749'
      summary: Authorization endpoint
      parameters:
      - in: query
        name: request
        description: A JWT containing the request information. The contents of the JWT must match the `OauthRequestJwtStructure` JSON schema in this document. Values in the JWT override values passed as query parameters in the main request.
        required: true
        schema:
          type: string
          example: eyJraWQiOiJzaWdrZXkxIiwiYWxnIjoiUlMyNTYifQ. eyJhdWQiOiJodHRwczpcL1wvaHViLWRldi1oeWRyYS5za2Rldi5jYVwvIiwidWlfbG9jYWxlcyI6ImVuLUNBIiwic2NvcGUiOiJvcGVuaWQgZG9jdW1lbnRfc2NvcGUiLCJpc3MiOiJodWItY2xpZW50IiwicmVzcG9uc2VfdHlwZSI6ImNvZGUiLCJyZWRpcmVjdF91cmkiOiJodHRwczpcL1wvaHViLWRldi1jbGllbnQuc2tkZXYuY2FcL29pZGMiLCJzdGF0ZSI6ImZyNml4TkFGajN3S25NNGc5ODQ4bGtUV1NNQlMzOGdLIiwiY29kZV9jaGFsbGVuZ2VfbWV0aG9kIjoiUzI1NiIsImNsaWVudF9pZCI6Imh1Yi1jbGllbnQiLCJjb2RlX2NoYWxsZW5nZSI6IjlFR1RiRU1Nck1FcVVaakFfOU96M1d4cEZSM2lncmV6c081T1dvb1Q1Q2cifQ. foNX4TVWXuAkNa-s11qV5DjKSVXUhshGDjf0JYipQQBTb36gUg4h7zWx2dxLYKZUKxETuO6Tp2NjTsSdBVz3dUCUQtlEj40fNAqJuqCRJg492PolYySkKM_YNPJHJPb4RPdWqK0wQigAHIztwu7w-5q-IlfNDDvLZ2UQChmMnCbQ4W4AhqWt83tdUgDX8eSrWmA1Aq3u5zfDFY9LXrXr1gy-FWXUZQNcwJMf3GsYxVNzq3xDiGgCDxoPicpE7uKPkhcJ1AquJd1DFG-ZTgearaVK-Wl281V4BP1YpYTpBuk04lnMpMQm5lpcXKchpCsSvEukczb2oq5vYh1OW1Gtgg
      - in: query
        name: scope
        description: Scopes of the request. Scopes are whitespace-delimited. The first scope must be openid. The second scope must be a valid scope that exists in the requested client's configuration.
        required: true
        schema:
          type: string
          example: openid document_scope
      - in: query
        name: response_type
        description: Type of response to return, must be set to `"code"` to get the authorization code flow as expected.
        required: true
        schema:
          type: string
          example: code
      - in: query
        name: redirect_uri
        description: Redirection URI to which the response will be sent for the authorization request.
        required: true
        schema:
          type: string
          example: http://localhost:5000/loginResponse
      - in: query
        name: state
        description: Opaque value randomly-generated by the client/RP. Used by the caller to maintain state between request and callback. Should be constant throughout the flow. Required if not present in the `request` JWT.
        required: false
        schema:
          type: string
          example: fr6ixNAFj3wKnM4g9848lkTWSMBS38gK
      - in: query
        name: client_id
        description: ID of the client/RP.
        required: true
        schema:
          type: string
          example: hub-client
      - in: query
        name: ui_locales
        description: List of locales to be used, separated by whitespace. Currently, only the first value is used.
        required: false
        schema:
          $ref: '#/components/schemas/Locale'
      operationId: oauthAuth
      responses:
        '302':
          description: Redirects to HUB UI application or back to RP on invalid request.
          content: {}
          headers:
            Location:
              description: URI where the client can start the flow. Note that on a number of error cases, while we still return this response, additional query parameters called "error" and "error_description" are added to the redirect uri.
              schema:
                type: string
                format: uri
              examples:
                302Redirect:
                  description: Redirect to HUB-UI
                  value: https://ui-preprod.pp.vids.dev/oidc-login?authId=2d31b594-9b00-4ed2-b94b-a65ba349c299&locale=en-CA302Redirect
                302RedirectOnError:
                  description: 'Redirects the user back to the client in cases of invalid request parameters (such as ''scope'', ''state'', etc.). If this occurs, the provided redirect URI''s query parameters will include ''error'' and ''error_description'', offering details about the specific error encountered. Additionally, the ''state'' parameter, originally sent in the authentication request, is appended to the query.  This enables the client (Relying Party) to maintain or restore the state of the user''s interaction with the client application, ensuring a seamless user experience. It''s important to note that this redirection only occurs if the provided redirect URI is valid.  In cases where the redirect URI is invalid or not registered, the error is handled differently (see the following item)

                    '
                  value: http://localhost:5000/loginResponse?error=invalid_scope&error_description=The+requested+scope+is+invalid%2C+unknown%2C+or+malformed.+The+OAuth+2.0+Client+is+not+allowed+to+request+scope+%27idv-authbasic%27.&locale=en-CA&state=qckoXBA6aJ6zOzp2ZuEuglRSyzSBRZLR
                302RedirectOnIncorrectRequest:
                  description: Redirect to HUB-UI Error page if request is incorrect
                  value: https://harness-preprod.pp.vids.dev/error?error=invalid_request&error_description=Response++is+not+supported
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://gateway-portal.hub-verify.innovation.interac.ca/.well-known/openid-configuration
      description: Sandbox
  /oauth2/token:
    post:
      tags:
      - OAuth2
      summary: Obtain access token
      description: For more information, please refer to https://tools.ietf.org/html/rfc6749#section-4
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OauthTokenRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidErrorMessage'
              examples:
                Invalid Request:
                  value:
                    error: invalid_request
                    error_description: The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed.
                Unauthorized Request:
                  value:
                    error: unauthorized_client
                    error_description: The client is not authorized to request a token using this method.
                Unsupported Response Type:
                  value:
                    error: unsupported_response_type
                    error_description: The authorization server does not support obtaining a token using this method.
                Unsupported Response Mode:
                  value:
                    error: unsupported_response_mode
                    error_description: The authorization server does not support obtaining a response using this response mode.
                Invalid Scope:
                  value:
                    error: invalid_scope
                    error_description: The requested scope is invalid, unknown, or malformed.
                Error:
                  value:
                    error: error
                    error_description: The handler is not responsible for this request.
                Unsupported Grant Type:
                  value:
                    error: unsupported_grant_type
                    error_description: The authorization grant type is not supported by the authorization server.
                Invalid Grant:
                  value:
                    error: invalid_grant
                    error_description: The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.
                Invalid State:
                  value:
                    error: inavlid_state
                    error_description: The state is missing or does not have enough characters and is therefore considered too weak.
                Insufficient Entropy:
                  value:
                    error: insufficient_entropy
                    error_description: The request used a security parameter (e.g., anti-replay, anti-csrf) with insufficient entropy.
                Token Signature Mismatch:
                  value:
                    error: token_signature_mismatch
                    error_description: Token signature mismatch.
                Invalid Token Format:
                  value:
                    error: invalid_token_format
                    error_description: Invalid token format.
                Login Required:
                  value:
                    error: login_required
                    error_description: The Authorization Server requires End-User authentication.
                Interaction Required:
                  value:
                    error: interaction_required
                    error_description: The Authorization Server requires End-User interaction of some form to proceed.
                Consent Required:
                  value:
                    error: consent_required
                    error_description: The Authorization Server requires End-User consent.
                Request Not Supported:
                  value:
                    error: request_not_supported
                    error_description: The OP does not support use of the request parameter.
                Request URI Not Supported:
                  value:
                    error: request_uri_not_supported
                    error_description: The OP does not support use of the request_uri parameter.
                Registration Not Supported:
                  value:
                    error: registration_not_supported
                    error_description: The OP does not support use of the registration parameter.
                Invalid Request URI:
                  value:
                    error: invalid_request_uri
                    error_description: The request_uri in the Authorization Request returns an error or contains invalid data.
                Invalid Request Object:
                  value:
                    error: invalid_request_object
                    error_description: The request parameter contains an invalid Request Object.
                JTI Known:
                  value:
                    error: jti_known
                    error_description: The jti was already used.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorMessage'
              examples:
                Request Unauthorized:
                  value:
                    error: request_unauthorized
                    error_description: The request could not be authorized.
                Invalid Client:
                  value:
                    error: invalid_client
                    error_description: Client authentication failed (e.g., unknown client, no client authentication included, or unsupported authentication method).
                Token Expired:
                  value:
                    error: token_expired
                    error_description: Token expired.
                Token Claim:
                  value:
                    error: token_claim
                    error_description: The token failed validation due to a claim mismatch.
                Token Invalid:
                  value:
                    error: token_invalid
                    error_description: Token is inactive because it is malformed, expired or otherwise invalid.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
              examples:
                Forbidden:
                  value:
                    error: request_forbidden
                    error_description: The request is not allowed
                Access Denied:
                  value:
                    error: access_denied
                    error_description: The resource owner or authorization server denied the request.
                Scope Not Granted:
                  value:
                    error: scope_not_granted
                    error_description: The token was not granted the requested scope.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
              examples:
                Not Found:
                  value:
                    error: not_found
                    error_description: Could not find the requested resource(s).
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://gateway-portal.hub-verify.innovation.interac.ca/.well-known/openid-configuration
      description: Sandbox
  /oauth2/auth:
    get:
      tags:
      - OAuth2
      description: 'To learn more about this endpoint, please refer to the specification: https://tools.ietf.org/html/rfc6749'
      summary: Authorization endpoint
      parameters:
      - in: query
        name: request
        required: false
        schema:
          type: string
          example: eyJraWQiOiJzaWdrZXkxIiwiYWxnIjoiUlMyNTYifQ.eyJhdWQiOiJodHRwczpcL1wvaHViLWRldi1oeWRyYS5za2Rldi5jYVwvIiwidWlfbG9jYWxlcyI6ImVuLUNBIiwic2NvcGUiOiJvcGVuaWQgZG9jdW1lbnRfc2NvcGUiLCJpc3MiOiJodWItY2xpZW50IiwicmVzcG9uc2VfdHlwZSI6ImNvZGUiLCJyZWRpcmVjdF91cmkiOiJodHRwczpcL1wvaHViLWRldi1jbGllbnQuc2tkZXYuY2FcL29pZGMiLCJzdGF0ZSI6ImZyNml4TkFGajN3S25NNGc5ODQ4bGtUV1NNQlMzOGdLIiwiY29kZV9jaGFsbGVuZ2VfbWV0aG9kIjoiUzI1NiIsImNsaWVudF9pZCI6Imh1Yi1jbGllbnQiLCJjb2RlX2NoYWxsZW5nZSI6IjlFR1RiRU1Nck1FcVVaakFfOU96M1d4cEZSM2lncmV6c081T1dvb1Q1Q2cifQ.foNX4TVWXuAkNa-s11qV5DjKSVXUhshGDjf0JYipQQBTb36gUg4h7zWx2dxLYKZUKxETuO6Tp2NjTsSdBVz3dUCUQtlEj40fNAqJuqCRJg492PolYySkKM_YNPJHJPb4RPdWqK0wQigAHIztwu7w-5q-IlfNDDvLZ2UQChmMnCbQ4W4AhqWt83tdUgDX8eSrWmA1Aq3u5zfDFY9LXrXr1gy-FWXUZQNcwJMf3GsYxVNzq3xDiGgCDxoPicpE7uKPkhcJ1AquJd1DFG-ZTgearaVK-Wl281V4BP1YpYTpBuk04lnMpMQm5lpcXKchpCsSvEukczb2oq5vYh1OW1Gtgg
      - in: query
        name: scope
        required: true
        schema:
          type: string
          example: openid document_scope
      - in: query
        name: response_type
        required: true
        schema:
          type: string
          example: code
      - in: query
        name: redirect_uri
        required: true
        schema:
          type: string
          example: https://harness-preprod.pp.vids.dev/oidc
      - in: query
        name: state
        required: true
        schema:
          type: string
          example: fr6ixNAFj3wKnM4g9848lkTWSMBS38gK
      - in: query
        name: client_id
        required: true
        schema:
          type: string
          example: hub-client
      - in: query
        name: ui_locales
        required: false
        schema:
          $ref: '#/components/schemas/Locale'
      operationId: oauthAuth
      responses:
        '302':
          description: 'Redirects to HUB UI application or back to RP on invalid request.


            Empty responses are sent when, for example, resources are deleted. The HTTP status code for empty responses is

            typically 201.'
          content: {}
          headers:
            Location:
              description: URI where the client can start the flow
              schema:
                type: string
              examples:
                302Redirect:
                  description: Redirect to HUB-UI
                  value: https://ui-preprod.pp.vids.dev/oidc-login?authId=2d31b594-9b00-4ed2-b94b-a65ba349c299&locale=en-CA302Redirect
                302RedirectOnError:
                  description: Redirect back to client on invalid parameters (scope, redirect_uri, etc)
                  value: https://harness-preprod.pp.vids.dev/hub-mode?error=invalid_scope&error_description=The+requested+scope+is+invalid%2C+unknown%2C+or+malformed.+The+OAuth+2.0+Client+is+not+allowed+to+request+scope+%27idv-authbasic%27.&locale=en-CA&state=qckoXBA6aJ6zOzp2ZuEuglRSyzSBRZLR
                302RedirectOnIncorrectRequest:
                  description: Redirect to HUB-UI Error page if request is incorrect
                  value: https://harness-preprod.pp.vids.dev/error?error=invalid_request&error_description=Response++is+not+supported
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError_2'
    servers:
    - url: https://gateway-preprod.pp.vids.dev
      description: Preprod
components:
  schemas:
    OauthTokenResponse:
      type: object
      description: Token response
      properties:
        access_token:
          type: string
          description: The token to be used in the subsequent Hub UserInfo API call.
          example: SlAV32hkKG
        expires_in:
          type: integer
          description: number of seconds until this token expires (default is 1800 seconds).
          example: 3600
        id_token:
          type: string
          description: "A JWS containing metadata about this Hub transaction for informational purposes.   \nNote the sub field will be a unique identifier representing the end user involved with this flow, specific to the RP/DAC.\n"
          example: eyJhbGciOiJSUzI1NiIsImtpZCI6IjFlOWdkazcifQ
        scope:
          type: string
          description: The OIDC scope(s) provided in the authorization request
          example: openid document_scope
        token_type:
          type: string
          description: 'This will always be `bearer` to indicate that this token must be included as a Bearer token in the call to the Hub''s token_endpoint

            '
          example: bearer
    OauthTokenRequest:
      type: object
      description: Token request
      required:
      - grant_type
      - code
      - redirect_uri
      - client_id
      - client_assertion_type
      - client_assertion
      properties:
        grant_type:
          type: string
          description: Always set to `authorization_code` to indicate OAuth 2.0 authorization code grant flow.
          example: authorization_code
        code:
          type: string
          description: "The authorization code returned in the authorization grant response.  \nThe provisioned authorization code can only be redeemed once.\n"
          example: 59ofWg_UxbEJbL5Dd84PPWg-u3nT_6KjvuDdaTqVWPE.5v0uPsMClMuPnX_PgeW1rICohE61pJs-SMJqjJzhWtY
        redirect_uri:
          type: string
          description: The same redirect URL used in the authorization grant request.
          example: http://localhost:5000/loginResponse
        client_id:
          type: string
          description: The same client ID used in the authorization grant request.
          example: hub-int-team
        client_assertion_type:
          type: string
          description: 'This is always set to `urn:ietf:params:oauth:client-assertion-type:jwt-bearer` per  [RFC 7523 JSON Web Token Profile](https://www.rfc-editor.org/rfc/rfc7523).

            '
          example: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
        client_assertion:
          description: "Signed Client Assertion Object \nA client assertion object in a signed JWT (JWS) compact-serialized format.  Refer to [RFC 7519 JSON Web Tokens](https://www.rfc-editor.org/rfc/rfc7519) and [RFC 7515 JWS compact serialization](https://www.rfc-editor.org/rfc/rfc7515).  \nThis JWS must be signed by the RP using the private portion of an RSA keypair.  The public portion is the one published to the RP's JWKS endpoint and registered with  the Hub during onboarding (via the RP's JWKS URL).  \nA number of parameters need to be included in this JWS and are detailed in the `OauthTokenRequestJwtStructure` schema.\n"
          type: string
        code_verifier:
          type: string
          description: 'The PKCE code verifier string that the code_challenge hash was derived from in the authorization grant request

            '
          example: lFDBK1ByvwTCqM2....\_N6pOq-Z
    InvalidErrorMessage:
      description: Format for error messages
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: invalid_request
        error_description:
          type: string
          example: 'the request could not be processed because a required parameter was missing: {details}'
    Locale:
      type: string
      enum:
      - en-CA
      - fr-CA
      example: en-CA
    GenericError:
      description: The standard error format
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: server_error
        error_description:
          type: string
          example: Failed to process request because of unexpected error
    UnauthorizedErrorMessage:
      description: Format for error messages
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: unauthorized
        error_description:
          type: string
          example: Unauthorized
    OauthTokenResponse_2:
      description: Token response
      type: object
      properties:
        access_token:
          type: string
          example: SlAV32hkKG
        expires_in:
          type: integer
          example: 3600
        id_token:
          type: string
          example: eyJhbGciOiJSUzI1NiIsImtpZCI6IjFlOWdkazcifQ
        refresh_token:
          type: string
          example: 8xLOxBtZp8
        scope:
          type: string
        token_type:
          type: string
          example: Bearer
    OauthTokenRequest_2:
      description: Token request
      type: object
      required:
      - grant_type
      properties:
        grant_type:
          type: string
          example: authorization_code
        code:
          type: string
          example: 59ofWg_UxbEJbL5Dd84PPWg-u3nT_6KjvuDdaTqVWPE.5v0uPsMClMuPnX_PgeW1rICohE61pJs-SMJqjJzhWtY
        redirect_uri:
          type: string
          example: https://harness-preprod.pp.vids.dev/oidc
        client_id:
          type: string
          example: harness-client-id
    GenericError_2:
      description: The standard error format
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: internal_server_error
        error_description:
          type: string
          example: Server Error
  responses:
    InternalServerError:
      description: 'Internal Server Error. Returned when request was not processed because of an unexpected/unknown error.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericError'
x-refined-from:
- interac-securekey-hub-2.yml
- interac-securekey-hub-3.yml
- interac-securekey-hub.yml
