openapi: 3.0.3
info:
  title: SecureKey Hub
  description: The Hub Auth API for RPs provided by SecureKey
  contact:
    name: SecureKey Technologies, Office of the CTO.
  license:
    name: Copyright SecureKey Technologies Inc. This file contains software code and related documentation
      that is the intellectual property of SecureKey. SecureKey reserves all rights in the code and related
      documentation. You may not use it without written permission from SecureKey.
  version: 2.2.12
  x-source-url: https://dash.readme.com/api/v1/api-registry/bxthcpim6gpcvi5
  x-documentation-url: https://documents.hub-verify.innovation.interac.ca/docs/31-api-endpoints
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://gateway-portal.hub-verify.innovation.interac.ca/.well-known/openid-configuration
  description: Sandbox
tags:
- name: OpenID
  description: OpenID Connect endpoints.
- name: OAuth2
  description: OAuth2 endpoints.
- name: UserInfo
  description: User Info
paths:
  /.well-known/openid-configuration:
    get:
      summary: Server well known configuration
      description: "Retrieves the server's OpenID Connect configuration information, essential for clients\
        \ to interact with the OpenID Provider.  This includes key details like authorization, token,\
        \ userinfo endpoints, supported response types, and more. \nFor more information, please refer\
        \ to https://openid.net/specs/openid-connect-discovery-1_0.html\n"
      tags:
      - OpenID
      operationId: WellKnownConfiguration
      responses:
        '200':
          description: Returns the OpenID Provider's configuration details, including endpoints and supported
            features.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WellKnown'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth:
    get:
      tags:
      - OAuth2
      description: 'To learn more about this endpoint, please refer to the specification: https://tools.ietf.org/html/rfc6749'
      summary: Authorization endpoint
      parameters:
      - in: query
        name: request
        description: A JWT containing the request information. The contents of the JWT must match the
          `OauthRequestJwtStructure` JSON schema in this document. Values in the JWT override values passed
          as query parameters in the main request.
        required: true
        schema:
          type: string
          example: eyJraWQiOiJzaWdrZXkxIiwiYWxnIjoiUlMyNTYifQ. eyJhdWQiOiJodHRwczpcL1wvaHViLWRldi1oeWRyYS5za2Rldi5jYVwvIiwidWlfbG9jYWxlcyI6ImVuLUNBIiwic2NvcGUiOiJvcGVuaWQgZG9jdW1lbnRfc2NvcGUiLCJpc3MiOiJodWItY2xpZW50IiwicmVzcG9uc2VfdHlwZSI6ImNvZGUiLCJyZWRpcmVjdF91cmkiOiJodHRwczpcL1wvaHViLWRldi1jbGllbnQuc2tkZXYuY2FcL29pZGMiLCJzdGF0ZSI6ImZyNml4TkFGajN3S25NNGc5ODQ4bGtUV1NNQlMzOGdLIiwiY29kZV9jaGFsbGVuZ2VfbWV0aG9kIjoiUzI1NiIsImNsaWVudF9pZCI6Imh1Yi1jbGllbnQiLCJjb2RlX2NoYWxsZW5nZSI6IjlFR1RiRU1Nck1FcVVaakFfOU96M1d4cEZSM2lncmV6c081T1dvb1Q1Q2cifQ.
            foNX4TVWXuAkNa-s11qV5DjKSVXUhshGDjf0JYipQQBTb36gUg4h7zWx2dxLYKZUKxETuO6Tp2NjTsSdBVz3dUCUQtlEj40fNAqJuqCRJg492PolYySkKM_YNPJHJPb4RPdWqK0wQigAHIztwu7w-5q-IlfNDDvLZ2UQChmMnCbQ4W4AhqWt83tdUgDX8eSrWmA1Aq3u5zfDFY9LXrXr1gy-FWXUZQNcwJMf3GsYxVNzq3xDiGgCDxoPicpE7uKPkhcJ1AquJd1DFG-ZTgearaVK-Wl281V4BP1YpYTpBuk04lnMpMQm5lpcXKchpCsSvEukczb2oq5vYh1OW1Gtgg
      - in: query
        name: scope
        description: Scopes of the request. Scopes are whitespace-delimited. The first scope must be openid.
          The second scope must be a valid scope that exists in the requested client's configuration.
        required: true
        schema:
          type: string
          example: openid document_scope
      - in: query
        name: response_type
        description: Type of response to return, must be set to `"code"` to get the authorization code
          flow as expected.
        required: true
        schema:
          type: string
          example: code
      - in: query
        name: redirect_uri
        description: Redirection URI to which the response will be sent for the authorization request.
        required: true
        schema:
          type: string
          example: http://localhost:5000/loginResponse
      - in: query
        name: state
        description: Opaque value randomly-generated by the client/RP. Used by the caller to maintain
          state between request and callback. Should be constant throughout the flow. Required if not
          present in the `request` JWT.
        required: false
        schema:
          type: string
          example: fr6ixNAFj3wKnM4g9848lkTWSMBS38gK
      - in: query
        name: client_id
        description: ID of the client/RP.
        required: true
        schema:
          type: string
          example: hub-client
      - in: query
        name: ui_locales
        description: List of locales to be used, separated by whitespace. Currently, only the first value
          is used.
        required: false
        schema:
          $ref: '#/components/schemas/Locale'
      operationId: oauthAuth
      responses:
        '302':
          description: Redirects to HUB UI application or back to RP on invalid request.
          content: {}
          headers:
            Location:
              description: URI where the client can start the flow. Note that on a number of error cases,
                while we still return this response, additional query parameters called "error" and "error_description"
                are added to the redirect uri.
              schema:
                type: string
                format: uri
              examples:
                302Redirect:
                  description: Redirect to HUB-UI
                  value: https://ui-preprod.pp.vids.dev/oidc-login?authId=2d31b594-9b00-4ed2-b94b-a65ba349c299&locale=en-CA302Redirect
                302RedirectOnError:
                  description: 'Redirects the user back to the client in cases of invalid request parameters
                    (such as ''scope'', ''state'', etc.). If this occurs, the provided redirect URI''s
                    query parameters will include ''error'' and ''error_description'', offering details
                    about the specific error encountered. Additionally, the ''state'' parameter, originally
                    sent in the authentication request, is appended to the query.  This enables the client
                    (Relying Party) to maintain or restore the state of the user''s interaction with the
                    client application, ensuring a seamless user experience. It''s important to note that
                    this redirection only occurs if the provided redirect URI is valid.  In cases where
                    the redirect URI is invalid or not registered, the error is handled differently (see
                    the following item)

                    '
                  value: http://localhost:5000/loginResponse?error=invalid_scope&error_description=The+requested+scope+is+invalid%2C+unknown%2C+or+malformed.+The+OAuth+2.0+Client+is+not+allowed+to+request+scope+%27idv-authbasic%27.&locale=en-CA&state=qckoXBA6aJ6zOzp2ZuEuglRSyzSBRZLR
                302RedirectOnIncorrectRequest:
                  description: Redirect to HUB-UI Error page if request is incorrect
                  value: https://harness-preprod.pp.vids.dev/error?error=invalid_request&error_description=Response++is+not+supported
        '500':
          $ref: '#/components/responses/InternalServerError'
  /oauth2/token:
    post:
      tags:
      - OAuth2
      summary: Obtain access token
      description: For more information, please refer to https://tools.ietf.org/html/rfc6749#section-4
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OauthTokenRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidErrorMessage'
              examples:
                Invalid Request:
                  value:
                    error: invalid_request
                    error_description: The request is missing a required parameter, includes an invalid
                      parameter value, includes a parameter more than once, or is otherwise malformed.
                Unauthorized Request:
                  value:
                    error: unauthorized_client
                    error_description: The client is not authorized to request a token using this method.
                Unsupported Response Type:
                  value:
                    error: unsupported_response_type
                    error_description: The authorization server does not support obtaining a token using
                      this method.
                Unsupported Response Mode:
                  value:
                    error: unsupported_response_mode
                    error_description: The authorization server does not support obtaining a response
                      using this response mode.
                Invalid Scope:
                  value:
                    error: invalid_scope
                    error_description: The requested scope is invalid, unknown, or malformed.
                Error:
                  value:
                    error: error
                    error_description: The handler is not responsible for this request.
                Unsupported Grant Type:
                  value:
                    error: unsupported_grant_type
                    error_description: The authorization grant type is not supported by the authorization
                      server.
                Invalid Grant:
                  value:
                    error: invalid_grant
                    error_description: The provided authorization grant (e.g., authorization code, resource
                      owner credentials) or refresh token is invalid, expired, revoked, does not match
                      the redirection URI used in the authorization request, or was issued to another
                      client.
                Invalid State:
                  value:
                    error: inavlid_state
                    error_description: The state is missing or does not have enough characters and is
                      therefore considered too weak.
                Insufficient Entropy:
                  value:
                    error: insufficient_entropy
                    error_description: The request used a security parameter (e.g., anti-replay, anti-csrf)
                      with insufficient entropy.
                Token Signature Mismatch:
                  value:
                    error: token_signature_mismatch
                    error_description: Token signature mismatch.
                Invalid Token Format:
                  value:
                    error: invalid_token_format
                    error_description: Invalid token format.
                Login Required:
                  value:
                    error: login_required
                    error_description: The Authorization Server requires End-User authentication.
                Interaction Required:
                  value:
                    error: interaction_required
                    error_description: The Authorization Server requires End-User interaction of some
                      form to proceed.
                Consent Required:
                  value:
                    error: consent_required
                    error_description: The Authorization Server requires End-User consent.
                Request Not Supported:
                  value:
                    error: request_not_supported
                    error_description: The OP does not support use of the request parameter.
                Request URI Not Supported:
                  value:
                    error: request_uri_not_supported
                    error_description: The OP does not support use of the request_uri parameter.
                Registration Not Supported:
                  value:
                    error: registration_not_supported
                    error_description: The OP does not support use of the registration parameter.
                Invalid Request URI:
                  value:
                    error: invalid_request_uri
                    error_description: The request_uri in the Authorization Request returns an error or
                      contains invalid data.
                Invalid Request Object:
                  value:
                    error: invalid_request_object
                    error_description: The request parameter contains an invalid Request Object.
                JTI Known:
                  value:
                    error: jti_known
                    error_description: The jti was already used.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorMessage'
              examples:
                Request Unauthorized:
                  value:
                    error: request_unauthorized
                    error_description: The request could not be authorized.
                Invalid Client:
                  value:
                    error: invalid_client
                    error_description: Client authentication failed (e.g., unknown client, no client authentication
                      included, or unsupported authentication method).
                Token Expired:
                  value:
                    error: token_expired
                    error_description: Token expired.
                Token Claim:
                  value:
                    error: token_claim
                    error_description: The token failed validation due to a claim mismatch.
                Token Invalid:
                  value:
                    error: token_invalid
                    error_description: Token is inactive because it is malformed, expired or otherwise
                      invalid.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
              examples:
                Forbidden:
                  value:
                    error: request_forbidden
                    error_description: The request is not allowed
                Access Denied:
                  value:
                    error: access_denied
                    error_description: The resource owner or authorization server denied the request.
                Scope Not Granted:
                  value:
                    error: scope_not_granted
                    error_description: The token was not granted the requested scope.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
              examples:
                Not Found:
                  value:
                    error: not_found
                    error_description: Could not find the requested resource(s).
        '500':
          $ref: '#/components/responses/InternalServerError'
  /userinfo:
    get:
      tags:
      - UserInfo
      summary: Get user information
      description: 'Get user info endpoint. The user claims are returned as JSON.  These user claims are
        determined by the OIDC scope and digital asset bundles/user claims defined during onboarding.

        '
      operationId: UserInfo
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer Y5MQMpfNZ9bYDeQmDMLbw0xNzGrQukfMY5MQMpfNZ9bYDeQmDMLbw0xNzGrQukfM
      responses:
        '200':
          description: '200 OK. Possible schemas base on flow mode:'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UserInfo_VmeSuccess'
                - $ref: '#/components/schemas/UserInfo_DocSuccess'
                - $ref: '#/components/schemas/UserInfo_DocOrVme_Failed'
                - $ref: '#/components/schemas/UserInfo_Dual_FullResult_Success'
                - $ref: '#/components/schemas/UserInfo_Dual_PartialResult'
        '202':
          description: In case of async results delivery (through polling) when not all data is available
            yet.
          headers:
            Retry-After:
              description: The number of seconds to wait before making the next request.
              schema:
                type: integer
              example: 10
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Polling_Not_Ready'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UnauthorizedErrorMessage'
                - $ref: '#/components/schemas/Polling_Job_Failed'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorMessage'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    InternalServerError:
      description: 'Internal Server Error. Returned when request was not processed because of an unexpected/unknown
        error.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericError'
  schemas:
    WellKnown:
      type: object
      required:
      - issuer
      - authorization_endpoint
      - token_endpoint
      - jwks_uri
      - response_types_supported
      - subject_types_supported
      - id_token_signing_alg_values_supported
      properties:
        issuer:
          description: 'URL using the https scheme with no query or fragment component that the OIDC Provider
            (OP) asserts as its Issuer Identifier. If Issuer discovery is supported , this value MUST
            be identical to the issuer value returned by WebFinger. This also MUST be identical to the
            iss Claim value in ID Tokens issued from this Issuer.

            '
          type: string
          format: uri
          example: https://gateway.preprod.hub-verify.interac-id.ca/
        authorization_endpoint:
          description: URL of the OP's OAuth 2.0 Authorization Endpoint
          type: string
          format: uri
          example: https://gateway.preprod.hub-verify.interac-id.ca/auth
        token_endpoint:
          description: URL of the OP's OAuth 2.0 Token Endpoint
          type: string
          format: uri
          example: https://gateway.preprod.hub-verify.interac-id.ca/oauth2/token
        jwks_uri:
          description: 'URL of the OP''s JSON Web Key Set [JWK] document. This contains the signing key(s)
            the RP uses to validate signatures from the OP.  The JWK Set MAY also contain the Server''s
            encryption key(s), which are used by RPs to encrypt requests to the Server. When both signing
            and encryption keys are made available, a use (Key Use) parameter value is REQUIRED for  all
            keys in the referenced JWK Set to indicate each key''s intended usage.

            Although some algorithms allow the same key to be used for both signatures and encryption,
            doing so is NOT RECOMMENDED, as it is less secure.  The JWK x5c parameter MAY be used to provide
            X.509 representations of keys provided. When used, the bare key values MUST still be present
            and MUST match those in the certificate.

            '
          type: string
          format: uri
          example: https://gateway.preprod.hub-verify.interac-id.ca/.well-known/jwks.json
        response_types_supported:
          description: 'JSON array containing a list of the OAuth 2.0 response_type values that this OP
            supports. Dynamic OpenID Providers MUST support the code,  id_token, and the token id_token
            Response Type values.

            '
          type: array
          items:
            type: string
          example:
          - code
          - token
          - code id_token
        subject_types_supported:
          description: JSON array containing a list of the Subject Identifier types that this OP supports.  Valid
            types include pairwise and public.
          type: array
          items:
            type: string
            enum:
            - pairwise
            - public
          example:
          - public
          - pairwise
        id_token_signing_alg_values_supported:
          description: 'JSON array containing a list of the JWS signing algorithms (alg values) supported
            by the OP  for the ID Token to encode the Claims in a JWT [JWT]. The algorithm RS256 MUST
            be included.  The value none MAY be supported, but MUST NOT be used unless the Response Type
            used returns no ID Token from the Authorization Endpoint (such as when using the Authorization
            Code Flow).

            '
          type: array
          items:
            type: string
          example:
          - RS256
        userinfo_endpoint:
          description: 'URL of the OpenID Provider''s UserInfo Endpoint.  This endpoint returns Claims
            about the authenticated End-User.

            '
          type: string
          format: uri
          example: https://gateway.preprod.hub-verify.interac-id.ca/userinfo
        scopes_supported:
          description: 'JSON array containing a list of OAuth 2.0 scope values supported by the server.  Must
            include ''openid'' scope value.

            '
          type: array
          items:
            type: string
          example:
          - openid
        claims_supported:
          type: array
          items:
            type: string
          description: 'JSON array containing a list of Claim Names of the Claims that  the OpenID Provider
            may be able to supply values for.

            '
          example:
          - sub
        pushed_authorization_request_endpoint:
          description: 'The URL of the pushed authorization request endpoint where a client can post an
            authorization request. The endpoint supports only clients configured for Subject Input Matching.

            '
          type: string
          format: uri
          example: https://gateway.preprod.hub-verify.interac-id.ca/auth/par
        require_pushed_authorization_requests:
          description: 'Boolean parameter indicating whether the authorization server accepts authorization
            request data only via Pushed Authorization Requests (PAR). If omitted, the default value is
            "false".

            '
          type: boolean
          example: false
        response_modes_supported:
          description: 'JSON array containing a list of the OAuth 2.0 response mode values that this OpenID
            Provider supports. These determine how the authorization response should be returned from
            the authorization endpoint. Common values include ''query'', ''fragment'', and ''form_post''.

            '
          type: array
          items:
            type: string
          example:
          - query
        grant_types_supported:
          description: 'JSON array containing a list of the OAuth 2.0 Grant Type values that this OpenID
            Provider supports. This includes grant types like ''authorization_code'', ''implicit'', and
            others. The server must support ''authorization_code'' and ''implicit''.

            '
          type: array
          items:
            type: string
          example:
          - authorization_code
          - implicit
        userinfo_signing_alg_values_supported:
          description: 'JSON array containing a list of the JSON Web Signature (JWS) algorithm values
            supported  by the UserInfo Endpoint for signing the response. It indicates the algorithms
            that the  OpenID Provider can use to sign the user information it provides.

            '
          type: array
          items:
            type: string
          example:
          - none
          - RS256
        request_object_signing_alg_values_supported:
          description: 'JSON array containing a list of the JWS algorithm values supported by the OpenID
            Provider for signing Request Objects. These algorithms are used for signing the requests sent
            to the authorization endpoint.

            '
          type: array
          items:
            type: string
          example:
          - RS256
        token_endpoint_auth_methods_supported:
          description: 'JSON array containing a list of Client Authentication methods supported by the
            Token Endpoint. This includes methods such as client secret post, client secret basic, private
            key JWT, and others.

            '
          type: array
          items:
            type: string
          example:
          - client_secret_post
          - client_secret_basic
          - private_key_jwt
        claims_parameter_supported:
          description: 'Boolean value specifying whether the OpenID Provider supports the use of the ''claims''
            parameter to request specific claims. A value of ''true'' indicates support for this feature.

            '
          type: boolean
          example: true
        request_parameter_supported:
          description: 'Boolean value indicating whether the OpenID Provider supports the use of the ''request''
            parameter, which can carry a Request Object by value.

            '
          type: boolean
          example: true
        request_uri_parameter_supported:
          description: 'Boolean value indicating whether the OpenID Provider supports the use of the ''request_uri''
            parameter, which can reference a Request Object by URL.

            '
          type: boolean
          example: true
        require_request_uri_registration:
          description: 'Boolean value specifying whether the OpenID Provider requires pre-registration
            of any ''request_uri'' values used in the ''request_uri'' parameter. A value of ''true'' means
            pre-registration is required.

            '
          type: boolean
          example: false
    OauthRequestJwtStructure:
      description: Specification of the JSON inside the 'request' JWT parameter.
      type: object
      required:
      - aud
      - iss
      - response_type
      - redirect_uri
      properties:
        aud:
          type: string
          description: Intended audience resource server of the JWT.
          example: https://gateway.preprod.hub-verify.interac-id.ca/
        ui_locales:
          type: string
          description: List of locales to be used, separated by whitespace. Currently, only the first
            value is used.
          example: en-CA fr-CA
        scope:
          type: string
          description: 'Scopes of the request. Must match the `scope` parameter in the main request if
            both are present.  Only required here if it''s not present in the main request.

            '
          example: openid document_scope
        iss:
          type: string
          description: Issuer; typically the client ID assigned to the client/RP
          example: hub-client
        response_type:
          type: string
          description: Response type, should be `"code"` and must match the `response_type` parameter
            of the main request.
          example: code
        redirect_uri:
          type: string
          description: 'Redirection URI to which the response will be sent for the authorization request.  Must
            match the `redirect_uri` parameter of the main request.

            '
          example: http://localhost:5000/loginResponse
        state:
          type: string
          description: 'Opaque value generated by the client. Used by the caller to maintain state between
            request and callback.  Should be constant throughout the flow. Must match the `state` parameter
            of the main request if present.  Required if not present in the main request.

            '
          example: fr6ixNAFj3wKnM4g9848lkTWSMBS38gK
        nonce:
          type: string
          description: Opaque value randomly generated by the client. Used to prevent replay attacks.
          example: qHJ6Ub01meuhfSoLknJJXlY0Bs9rBjE5
        client_id:
          type: string
          description: ID of the client/RP. Must match the `client_id` parameter of the main request if
            present.
          example: hub-client
        code_challenge_method:
          type: string
          description: Code challenge method for optional PKCE security
          example: S256
        code_challenge:
          type: string
          description: Code challenge value for optional PKCE security
          example: 9EGTbEMMrMEqUZjA_9Oz3WxpFR3igrezsO5OWooT5Cg
        exp:
          type: number
          description: Expiration Time. A timestamp indicating when this JWT expires (in seconds since
            the UNIX epoch). Clients SHOULD include this to ensure the token is not accepted indefinitely.
          example: 1737980470
    OauthTokenRequest:
      type: object
      description: Token request
      required:
      - grant_type
      - code
      - redirect_uri
      - client_id
      - client_assertion_type
      - client_assertion
      properties:
        grant_type:
          type: string
          description: Always set to `authorization_code` to indicate OAuth 2.0 authorization code grant
            flow.
          example: authorization_code
        code:
          type: string
          description: "The authorization code returned in the authorization grant response.  \nThe provisioned\
            \ authorization code can only be redeemed once.\n"
          example: 59ofWg_UxbEJbL5Dd84PPWg-u3nT_6KjvuDdaTqVWPE.5v0uPsMClMuPnX_PgeW1rICohE61pJs-SMJqjJzhWtY
        redirect_uri:
          type: string
          description: The same redirect URL used in the authorization grant request.
          example: http://localhost:5000/loginResponse
        client_id:
          type: string
          description: The same client ID used in the authorization grant request.
          example: hub-int-team
        client_assertion_type:
          type: string
          description: 'This is always set to `urn:ietf:params:oauth:client-assertion-type:jwt-bearer`
            per  [RFC 7523 JSON Web Token Profile](https://www.rfc-editor.org/rfc/rfc7523).

            '
          example: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
        client_assertion:
          description: "Signed Client Assertion Object \nA client assertion object in a signed JWT (JWS)\
            \ compact-serialized format.  Refer to [RFC 7519 JSON Web Tokens](https://www.rfc-editor.org/rfc/rfc7519)\
            \ and [RFC 7515 JWS compact serialization](https://www.rfc-editor.org/rfc/rfc7515).  \nThis\
            \ JWS must be signed by the RP using the private portion of an RSA keypair.  The public portion\
            \ is the one published to the RP's JWKS endpoint and registered with  the Hub during onboarding\
            \ (via the RP's JWKS URL).  \nA number of parameters need to be included in this JWS and are\
            \ detailed in the `OauthTokenRequestJwtStructure` schema.\n"
          type: string
        code_verifier:
          type: string
          description: 'The PKCE code verifier string that the code_challenge hash was derived from in
            the authorization grant request

            '
          example: lFDBK1ByvwTCqM2....\_N6pOq-Z
    OauthTokenRequestJwtStructure:
      type: object
      description: 'The client_assertion parameter contains the signed client assertion object, as defined
        in RFC 7521 Assertion Framework for OAuth 2.0.  This is a signed JWT (JWS) signed with the RP''s
        private key in compact serialized format.  The signed request object includes several parameters
        identifying the RP client.

        '
      required:
      - iss
      - sub
      - aud
      - exp
      - jti
      properties:
        iss:
          type: string
          description: The RP's client_id
          example: hub-int-team
        sub:
          type: string
          description: The RP's client_id
          example: hub-int-team
        aud:
          type: string
          description: The token_endpoint value as defined in the Hub's openid-configuration endpoint
          example: https://gateway.preprod.hub-verify.interac-id.ca/oauth2/token
        exp:
          type: number
          description: The expiration time (in UNIX timestamp format) of this client assertion object
          example: 1675972884.457038
        iat:
          type: number
          description: The time (in UNIX timestamp format) at which this client assertion object was issued
            at
          example: 1675972584.457038
        jti:
          type: string
          description: A unique identifier for this client assertion object
          example: 35a5bae49a834eb684c8c88ef7190475
    OauthTokenResponse:
      type: object
      description: Token response
      properties:
        access_token:
          type: string
          description: The token to be used in the subsequent Hub UserInfo API call.
          example: SlAV32hkKG
        expires_in:
          type: integer
          description: number of seconds until this token expires (default is 1800 seconds).
          example: 3600
        id_token:
          type: string
          description: "A JWS containing metadata about this Hub transaction for informational purposes.\
            \   \nNote the sub field will be a unique identifier representing the end user involved with\
            \ this flow, specific to the RP/DAC.\n"
          example: eyJhbGciOiJSUzI1NiIsImtpZCI6IjFlOWdkazcifQ
        scope:
          type: string
          description: The OIDC scope(s) provided in the authorization request
          example: openid document_scope
        token_type:
          type: string
          description: 'This will always be `bearer` to indicate that this token must be included as a
            Bearer token in the call to the Hub''s token_endpoint

            '
          example: bearer
    UserInfo_VmeSuccess:
      description: 'Userinfo for successful Verify.Me claims. VMe results. Omitted if hidePII is enabled
        during a matching flow.


        Different digital asset bundles (i.e user claims) can be subscribed to depending on the partner
        agreement and can be referenced [Published DA](https://kb.securekey.com/display/VMEINT/Published+DA)
        (internal KB, access restricted).

        '
      allOf:
      - $ref: '#/components/schemas/Base_VmeSuccess'
      - type: object
        properties:
          com.securekey.verified.me.ui_locale:
            $ref: '#/components/schemas/Locale'
    UserInfo_DocOrVme_Failed:
      description: Failed verification userinfo. Not applicable to DualMode.
      type: object
      required:
      - fail_reason
      - fail_description
      properties:
        fail_reason:
          $ref: '#/components/schemas/DocumentFailReason'
        fail_description:
          type: string
          example: User canceled transaction
    UserInfo_DocSuccess:
      description: Userinfo for successful document claims
      allOf:
      - $ref: '#/components/schemas/Base_DocSuccess'
      - $ref: '#/components/schemas/Bor_Fields'
      - type: object
        required:
        - com.securekey.vids.job_id
        - scan_result
        properties:
          com.securekey.vids.job_id:
            type: string
            example: 4aa2e0dc889045edb251e584d1d3b7f8
    Base_DocSuccess:
      description: Base Document results. Omitted if hidePII is enabled during a matching flow.
      type: object
      required:
      - sub
      - source
      - doc_type
      - given_name
      - family_name
      - birthdate
      - address
      - issue_date
      - expiry_date
      - nationality
      - doc_number
      - issuing_country
      - issuing_authority
      - com.securekey.verified.me.ui_locale
      - scan_result
      properties:
        sub:
          type: string
          example: 4aa2e0dc889045edb251e584d1d3b7f8
        source:
          type: string
          description: Onfido doc type
          example: national_health_insurance_card
        doc_type:
          type: string
          description: HUB doc type
          enum:
          - passport
          - drivers_license
          - health_card
          - national_card
          - resident_permit
          - indigenous_card
          example: health_card
        given_name:
          type: string
          example: JOHN
        family_name:
          type: string
          example: DOE
        birthdate:
          $ref: '#/components/schemas/LocalDate'
        address:
          oneOf:
          - $ref: '#/components/schemas/Address'
          - $ref: '#/components/schemas/AddressMissed'
        issue_date:
          $ref: '#/components/schemas/LocalDate'
        expiry_date:
          $ref: '#/components/schemas/LocalDate'
        nationality:
          type: string
          example: CAN
        doc_number:
          type: string
          example: ZE000509
        issuing_country:
          type: string
          example: CA
        issuing_authority:
          type: string
          example: CA
        phone_number:
          type: string
          description: optional
          example: '16045555555'
        com.securekey.verified.me.ui_locale:
          $ref: '#/components/schemas/Locale'
        scan_result:
          type: string
          enum:
          - CLEAR
          - REJECTED
          - SUSPECTED
          example: CLEAR
        rejected_flags:
          type: array
          items:
            type: string
          description: ' Provided when a document scan fails due to rejection, and `document.allowPartialResult`
            is set to `true`. Details the reasons for the document being flagged as `rejected`'
          example:
          - image_quality
          - conclusive_document_quality
          - supported_document
          - minimum_accepted_age
          - colour_picture
          - data_consistency
          - document_expiration
          - face_detection
          - filtered_document
          - face_detected
        suspected_flags:
          type: array
          items:
            type: string
          description: ' Provided when a document scan fails due to suspicion, and `document.allowPartialResult`
            is `true`.  Details the reasons for the document being flagged as `suspected`.'
          example:
          - compromised_document
          - data_consistency
          - visual_authenticity
          - data_validation
          - source_integrity
          - face_match
          - spoofing_detection
    Bor_Fields:
      type: object
      properties:
        bor_data:
          type: object
          description: BoR data. Only present if BoR is enabled and was run based on the client config.
          required:
          - check_result
          - source
          properties:
            check_result:
              type: string
              enum:
              - PASS
              - FAIL
              - UNKNOWN
              description: Result of the BoR check
            source:
              type: string
              description: Source of the BoR check, should always be 'ODS'
              example: ODS
            reason:
              type: string
              enum:
              - PII_CLAIMS_ERROR
              - CLIENT_CONFIG_ERROR
              - ODS_ERROR
              - UNKNOWN_ERROR
              - MISSING_HEADER
              - INTERNAL_SERVER_ERROR
              - VALIDATION_FAILED
              - INVALID_CARD_NUMBER
              - INVALID_DOCUMENT_CONTROL_NUMBER
              - INVALID_LAST_NAME
              - INVALID_DATE_OF_BIRTH
              - INVALID_POSTAL_CODE
              - INVALID_VERSION_CODE
              - INVALID_STOCK_CONTROL_NUMBER
              - INVALID_NAME
              - INVALID_ISSUE_DATE
              - INVALID_EXPIRY_DATE
              - FAILURE_LIMIT_EXCEEDED
              description: Reason for error, only present if check_status is "UNKNOWN" or "FAIL"
    UserInfo_Dual_FullResult_Success:
      description: UserInfo response for success verification on DualMode (Full)
      type: object
      required:
      - sub
      - given_name
      - family_name
      - birthdate
      - com.securekey.verified.me
      - com.securekey.vids
      - com.securekey.matching
      properties:
        sub:
          type: string
          example: ci48eVW6WC18Fl9oxYuU-s7H4G42MzbpUVoIitG-Hbg
        given_name:
          type: string
          example: John
        family_name:
          type: string
          example: Doe
        birthdate:
          $ref: '#/components/schemas/LocalDate'
        com.securekey.verified.me:
          $ref: '#/components/schemas/Dual_VmeSuccess'
        com.securekey.vids:
          $ref: '#/components/schemas/Dual_DocSuccess'
        com.securekey.matching:
          $ref: '#/components/schemas/Dual_MatchingResult'
    UserInfo_Dual_PartialResult:
      description: UserInfo response for partial verification on DualMode when Document was failed/cancelled
      type: object
      required:
      - sub
      - given_name
      - family_name
      - birthdate
      - com.securekey.verified.me
      - com.securekey.vids
      - com.securekey.matching
      properties:
        sub:
          type: string
          example: ci48eVW6WC18Fl9oxYuU-s7H4G42MzbpUVoIitG-Hbg
        given_name:
          type: string
          example: John
        family_name:
          type: string
          example: Doe
        birthdate:
          $ref: '#/components/schemas/LocalDate'
        com.securekey.verified.me:
          oneOf:
          - $ref: '#/components/schemas/Dual_VmeSuccess'
          - $ref: '#/components/schemas/Dual_VmeFailed'
        com.securekey.vids:
          oneOf:
          - $ref: '#/components/schemas/Dual_DocFailed'
          - $ref: '#/components/schemas/Dual_DocSuccess'
        com.securekey.matching:
          oneOf:
          - $ref: '#/components/schemas/Dual_MatchingFailed'
          - $ref: '#/components/schemas/Dual_MatchingResult'
    Dual_DocSuccess:
      description: Document claims in successful DualMode userinfo.
      allOf:
      - $ref: '#/components/schemas/Base_DocSuccess'
      - type: object
        required:
        - jobId
        properties:
          jobId:
            type: string
            example: 4aa2e0dc889045edb251e584d1d3b7f8
    Dual_DocFailed:
      description: Failed document verification in DualMode userinfo.
      type: object
      required:
      - fail_reason
      - fail_description
      properties:
        fail_reason:
          $ref: '#/components/schemas/DocumentFailReason'
        fail_description:
          type: string
          example: User canceled transaction
    Base_VmeSuccess:
      description: Base Vme claims.
      type: object
      required:
      - sub
      - license_id
      - given_name
      - family_name
      additionalProperties: true
      properties:
        dacPseudonym:
          type: string
          example: tybIYC2FvIPprK_dIhXgaxP8jOXRfT8srWWR0K42-1s
        sub:
          type: string
          example: tybIYC2FvIPprK_dIhXgaxP8jOXRfT8srWWR0K42-1s
        com.securekey.verified.me.license_id:
          type: string
          example: -ngpVkiAzJKpKws3ibMwgPqT_aY5Qf5oYP-bkykK39M
        source:
          type: string
          example: bank
        address:
          $ref: '#/components/schemas/Address'
        birthdate:
          $ref: '#/components/schemas/LocalDate'
        phone_number:
          type: string
          example: '16045555555'
        given_name:
          type: string
          example: John
        family_name:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: jdoe8@securekey.com
    Dual_VmeSuccess:
      description: Vme claims in DualMode userinfo.
      allOf:
      - $ref: '#/components/schemas/Base_VmeSuccess'
      - type: object
        required:
        - ui_locale
        properties:
          ui_locale:
            $ref: '#/components/schemas/Locale'
    Dual_VmeFailed:
      description: Failed Verify.Me verification in DualMode userinfo.
      type: object
      required:
      - fail_reason
      - fail_description
      properties:
        fail_reason:
          $ref: '#/components/schemas/VmeFailReason'
        fail_description:
          type: string
          example: User canceled transaction
    Dual_MatchingFailed:
      description: Failed matching in DualMode userinfo.
      type: object
      required:
      - fail_reason
      - fail_description
      properties:
        fail_reason:
          $ref: '#/components/schemas/MatchingFailReason'
        fail_description:
          type: string
          example: 'Error during data matching processing. Err: Claims does not exist'
        matchStatus:
          type: string
          enum:
          - CLEAR
          - REJECTED
          example: REJECTED
        matchData:
          $ref: '#/components/schemas/MatchData'
        identityData:
          $ref: '#/components/schemas/IdentityData'
    Dual_MatchingResult:
      description: Matching result in DualMode userinfo.
      type: object
      required:
      - matchStatus
      - matchData
      - identityData
      properties:
        matchStatus:
          type: string
          enum:
          - CLEAR
          - REJECTED
          example: CLEAR
        matchData:
          $ref: '#/components/schemas/MatchData'
        identityData:
          $ref: '#/components/schemas/IdentityData'
    MatchData:
      type: object
      required:
      - given_name_score
      - family_name_score
      - birthdate_score
      - matchScore
      - matchThreshold
      properties:
        given_name_score:
          type: number
          example: 80
        family_name_score:
          type: number
          example: 100
        birthdate_score:
          type: number
          example: 100
        matchScore:
          type: number
          example: 90
        matchThreshold:
          type: number
          example: 65
    IdentityData:
      type: object
      required:
      - leftDigitalIdentity
      - rightDigitalIdentity
      properties:
        leftDigitalIdentity:
          type: string
          enum:
          - com.securekey.vids
          - com.securekey.verified.me
          example: com.securekey.verified.me
        rightDigitalIdentity:
          type: string
          enum:
          - com.securekey.vids
          - com.securekey.verified.me
          example: com.securekey.vids
    Address:
      description: Address
      type: object
      required:
      - street_address
      - locality
      - region
      - postal_code
      - country
      properties:
        street_address:
          type: string
          example: 4101 Yonge Suite 501
        locality:
          type: string
          example: TORONTO
        region:
          type: string
          example: 'ON'
        postal_code:
          type: string
          example: M2P 1N6
        country:
          type: string
          example: CAN
    AddressMissed:
      description: No Address information
      allOf:
      - $ref: '#/components/schemas/Address'
      - type: object
        properties:
          street_address:
            type: string
            example: N/A
          locality:
            type: string
            example: N/A
          region:
            type: string
            example: N/A
          postal_code:
            type: string
            example: N/A
          country:
            type: string
            example: N/A
    LocalDate:
      type: string
      pattern: ^[0-9]{4}(-[0-9]{2}-[0-9]{2})?$
      example: '1990-01-01'
    Locale:
      type: string
      enum:
      - en-CA
      - fr-CA
      example: en-CA
    Polling_Not_Ready:
      type: object
      description: In case of asynchronous result delivery, until all data are ready,  the response body
        will include metadata regarding what additional information is pending.
      properties:
        state:
          type: string
          description: Current state of verification
          enum:
          - IN_PROGRESS
          - PROCESSING
        verifications:
          type: object
          description: Current state of each verification step of the Job
          properties:
            document:
              $ref: '#/components/schemas/JobVerificationState'
            vme:
              $ref: '#/components/schemas/JobVerificationState'
            matching:
              $ref: '#/components/schemas/JobVerificationState'
            bor:
              $ref: '#/components/schemas/JobVerificationState'
      required:
      - state
      - verifications
    Polling_Job_Failed:
      type: object
      description: In case of asynchronous result delivery, when all data are ready, but the verification
        has failed,  the response body will include error details and info about each verifier's state.
      properties:
        error:
          type: string
          description: General reason for job failure
        error_description:
          type: string
          description: Detailed explanation of the reason for job failure.
        verifications:
          type: object
          description: Current state of each verification step of the Job
          properties:
            document:
              $ref: '#/components/schemas/JobVerificationState'
            vme:
              $ref: '#/components/schemas/JobVerificationState'
            matching:
              $ref: '#/components/schemas/JobVerificationState'
            bor:
              $ref: '#/components/schemas/JobVerificationState'
      required:
      - error
      - error_description
      - verifications
    JobVerificationState:
      description: Contains state of single verification performed in the scope of the job
      type: object
      properties:
        state:
          type: string
          enum:
          - BLOCKED
          - NOT_STARTED
          - STARTED
          - DATA_CAPTURE
          - DATA_PROCESSING
          - SUCCESS
          - CANCELLED
          - FAILED
        fail_reason:
          $ref: '#/components/schemas/FailReason'
        fail_description:
          type: string
          description: Detailed explanation of the reason for verification failure. Populated only when
            the verification is unsuccessful.
      required:
      - state
    FailReason:
      type: string
      enum:
      - NO_VME_CLAIMS
      - NO_DOCUMENT_CLAIMS
      - NO_REQUEST_SUBJECT_CLAIMS
      - MATCH_FAILED
      - DOCUMENT_WITH_RESULT_NOT_CLEAR
      - SYSTEM_ERROR
      - USER_CANCELED
      - REJECTED
      - SUSPECTED
    MatchingFailReason:
      type: string
      enum:
      - NO_VME_CLAIMS
      - NO_DOCUMENT_CLAIMS
      - NO_REQUEST_SUBJECT_CLAIMS
      - MATCH_FAILED
      - DOCUMENT_WITH_RESULT_NOT_CLEAR
      - SYSTEM_ERROR
    DocumentFailReason:
      type: string
      enum:
      - USER_CANCELED
      - SYSTEM_ERROR
      - REJECTED
      - SUSPECTED
    VmeFailReason:
      type: string
      enum:
      - USER_CANCELED
      - SYSTEM_ERROR
    GenericError:
      description: The standard error format
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: server_error
        error_description:
          type: string
          example: Failed to process request because of unexpected error
    InvalidErrorMessage:
      description: Format for error messages
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: invalid_request
        error_description:
          type: string
          example: 'the request could not be processed because a required parameter was missing: {details}'
    ForbiddenErrorMessage:
      description: Format for error messages
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: forbidden
        error_description:
          type: string
          example: Forbidden
    UnauthorizedErrorMessage:
      description: Format for error messages
      type: object
      required:
      - error
      properties:
        error:
          type: string
          example: unauthorized
        error_description:
          type: string
          example: Unauthorized
